.picture {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.picture>.quarter {
  background-image: url('pizza.webp');
  width: 200px;
  height: 200px;
  background-size: 400px 400px;
}

.picture>.quarter:nth-child(2) {
  background-position: -200px 0;
}

.picture>.quarter:nth-child(3) {
  background-position: 0 -200px;
}

.picture>.quarter:nth-child(4) {
  background-position: -200px -200px;
}
